In [7]:
import numpy as np
import pandas as pd

In [8]:
# What's the version of numpy that you installed?
np.__version__

'1.19.5'

In [12]:
df = pd.read_csv('hw1-car-data.csv')
df.head(2)

,Make,Model,Year,Engine Fuel Type,Engine HP,Engine Cylinders,Transmission Type,Driven_Wheels,Number of Doors,Market Category,Vehicle Size,Vehicle Style,highway MPG,city mpg,Popularity,MSRP
0,BMW,1 Series M,2011,premium unleaded (required),335.0,6.0,MANUAL,rear wheel drive,2.0,"Factory Tuner,Luxury,High-Performance",Compact,Coupe,26,19,3916,46135
1,BMW,1 Series,2011,premium unleaded (required),300.0,6.0,MANUAL,rear wheel drive,2.0,"Luxury,Performance",Compact,Convertible,28,19,3916,40650

In [30]:
# What is the average price of BMW cars in this dataset?
print(
    df[
        df['Make'] == 'BMW'
    ]['MSRP'].mean()
)

61546.76347305389

In [31]:
# Select a subset of cars after 2015, inclusive. How many of them have missing values for Engine HP?
print(
    df[
        df['Year'] >= 2015
    ]['Engine HP'].isnull().sum()
)

51

In [33]:
# Calculate the average "Engine HP" in the dataset.
# Use the fillna method and to fill the missing values in "Engine HP" with the mean value from the previous step.
# Now, calcualte the average of "Engine HP" again.
# Has it changed?

mean_before = df['Engine HP'].mean()
print(round(mean_before))
mean_after = df['Engine HP'].fillna(mean_before).mean()
print(round(mean_after))

249
249

In [51]:
# Select all the "Rolls-Royce" cars from the dataset.
# Select only columns "Engine HP", "Engine Cylinders", "highway MPG".
# Now drop all duplicated rows using drop_duplicates method (you should get a dataframe with 7 rows).
# Get the underlying NumPy array. Let's call it X.
# Compute matrix-matrix multiplication between the transpose of X and X. To get the transpose, use X.T. Let's call the result XTX.
# Invert XTX.
# What's the sum of all the elements of the result? 
rr = df[
    df['Make'] == 'Rolls-Royce'
]
rr = rr[['Engine HP', 'Engine Cylinders', 'highway MPG']].drop_duplicates()
X = rr.to_numpy()
XTX = np.matmul(X.T, X)
XTXinv = np.linalg.inv(XTX)
XTXinv.sum()

0.032212320677486125

In [53]:
# Create an array y with values [1000, 1100, 900, 1200, 1000, 850, 1300].
# Multiply the inverse of XTX with the transpose of X, and then multiply the result by y. Call the result w.
# What's the value of the first element of w?.
y = np.array([1000, 1100, 900, 1200, 1000, 850, 1300])
XTXinvXT = np.matmul(XTXinv, X.T)
w = np.matmul(XTXinvXT, y)
print(w[0])

0.19989598183188978